.list {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    border-radius: 5px;
}
.list:hover {
    background-color: #f1f5f8;
    color: #617d98;
}
.list .icons {
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    width: 60px;
}
.edit-icon {
    color: hsl(120, 100%, 25%);
}
.delete-icon {
    color: hsl(0, 100%, 50%);
}
.edit-icon:hover {
    color:hsl(120, 100%, 15%);
    cursor: pointer;
}
.delete-icon:hover {
    color: hsl(0, 100%, 35%);
    cursor: pointer;
}

